<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>マイページ</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<style>
.grid-box{
    display:grid;
    grid-template-rows: 0 200px auto 100px ;
    grid-template-columns: 1.5fr 7fr 1.5fr ;
    grid-template-areas: 
        "header  header header "
        "...      ...    ..."
        "main    main   main"
        "...      ...    ...";
      }

/* ヘッダー */
header{
    grid-area:header;
    /* background: rgba(177, 212, 238,0.3); */
    position: fixed;
    width: 100%;
    
}
.main{
    grid-area:main;
    text-align: center;
    
}

.mylink{
    font-size: 2.4rem;
    margin-bottom: 50px;
    text-decoration: underline;
}
.main p a{
    color:rgb(66, 68, 73)
}

.main p a:hover{
    opacity: 0.7;
}

@media(max-width:1020px){
    .mylink{
    font-size: 2rem;

}
}
@media(max-width:415px){
    .grid-box{
    display:grid;
    grid-template-rows: 0 125px auto 50px ;
    grid-template-columns: 1.5fr 7fr 1.5fr ;
    grid-template-areas: 
        "header  header header "
        "...      ...    ..."
        "main    main   main"
        "...      ...    ...";
      }

    .mylink{
    font-size: 1.6rem;

}
}


</style>





<body>

    <div class="grid-box">

        <header>
            <ul>
              
              <div class='leftNav'>
                  <li><a href="/" ><img src="images/lf-logo-gray.png" alt="" class='logo' ></a></li>
            </div>
              <li class='hnav'><a href="/map" class='hlink'>Map</a></li>
              <li class='hnav'><a href="/shops" class='hlink'>Shop</a></li>
              <li class='hnav'><a href="/diarys" class='hlink'>Diary</a></li>
              <li class='hnav'><a href="/flowers" class='hlink'>Flower</a></li>
              <div class='nav-right'>
              
              <% if (typeof user == 'undefined') { %>
              <li class='log'><a href="/login" class='hlink'>Login</a></li>
              <% } else{%>
              <li class='log'><a href="/logout" class='hlink'>Logout</a></li>
              <% } %>
              <li class='account_img' >
                 <a href="/mypage">
                    <% if (typeof user !== 'undefined' ) { %>
                        <% if(sitems[0].account_img=== null){%>
                            <img src="images/account3.png" class='aimg' alt="" >  
                      <% }else{ %>
                        <img src="<%=sitems[0].account_img %>" class='aimg' alt="" >  
                      <% } %>
                      <% } %>
                </a>
            </li>
         </div>
     
            </ul>
         </header>
   <div class="main">
    <p class='mylink'><a href="/myprofile">店舗登録情報</a></p>
    <p class='mylink'><a href="/drege">日記の登録</a></p>
    <p class='mylink'><a href="/frege">花の登録</a></p>
    <p class='mylink'><a href="/mapinfo">マップ情報</a></p>
   </div>




</div>


<!-- フッター ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
<div class="footer-glid">
    <footer>
        <h3 class='topSubtitle'>Copyright  second-cube</h3>
    </footer>

    <!-- フッターナビ -->
    <div class='Fnav web ' >
    <ul class='navs'>
    <li ><a href="/map" ><img class='navimg' src="../images/map-24.png" alt=""></a><a href="/map" class='Fnav-link hlink'>Map</a></li>
    <li ><a href="/shops" ><img class='navimg' src="../images/shop-24.png" alt=""></a><a href="/shops" class='Fnav-link hlink'>Shop</a></li>
    <li ><a href="/diarys" ><img class='navimg' src="../images/script-24.png" alt=""></a><a href="/diarys" class='Fnav-link hlink'>Diary</a></li>
    <li ><a href="/flowers" ><img class='navimg' src="../images/flower-24.png" alt=""></a><a href="/flowers" class='Fnav-link hlink'>Flower</a></li>
    <!-- <li><div id='search'>検索</div></li> -->

    </ul>
    </div>
</div>
<!-- フッターここまで ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->





</div>
</body>
</html>